[submodule "themes/LucentLink-Hugo"] 
  path = themes/LucentLink-Hugo 
  url = https://github.com/jonilaakso/LucentLink-Hugo.git
[submodule "LucentLink-Hugo"]
	path = LucentLink-Hugo
	url = https://github.com/jonilaakso/LucentLink-Hugo.git
